<div class="custom mt-5">
    <div class="row">
        <div class="col border border-secondary rounded ml-2 mr-2 mt-2 mb-2">
            <app-pokemon-card></app-pokemon-card>
        </div>
        <div class="col border border-secondary rounded ml-2 mr-2 mt-2 mb-2">
            <app-pokemon-card></app-pokemon-card>
        </div>
    </div>
    <div class="row">
        <div class="col border border-secondary rounded ml-2 mr-2 mt-2 mb-2">
            <app-pokemon-card></app-pokemon-card>
        </div>
        <div class="col border border-secondary rounded ml-2 mr-2 mt-2 mb-2">
            <app-pokemon-card></app-pokemon-card>
        </div>
    </div>
    <div class="row">
        <div class="col border border-secondary rounded ml-2 mr-2 mt-2 mb-2">
            <app-pokemon-card></app-pokemon-card>
        </div>
        <div class="col border border-secondary rounded ml-2 mr-2 mt-2 mb-2">
            <app-pokemon-card></app-pokemon-card>
        </div>
    </div>
</div>