.type {
  width: 45% !important;
}
.type2 {
  width: 250% !important;
}

.name-stat {
  font-size: 11px !important;
  vertical-align: middle;
}

.bg-orange {
  background-color: #FFA500;
}
.bg-lime {
  background-color: #bfff00;
}
.bg-light-green {
  background-color: #3fff00;
}
