.type {
  width: 10%;
  height: 10%;
}

.name-stat {
  font-size: 11px !important;
  vertical-align: middle;
}

.bg-orange {
  background-color: #FFA500;
}
.bg-lime {
  background-color: #bfff00;
}
.bg-light-green {
  background-color: #3fff00;
}
