<div class="container text-center" *ngIf="pokemon">
  <div class="card" style="max-width: 500px;margin:0auto">
    <img class="card-img-top" [src]="pokemon.sprites.other.home.front_default">
    <div class="card-body">
      <h5 class="card-title">{{pokemon.name}}</h5>

      <span class="text-center ml-1 mr-1" *ngFor="let type of pokemon.types"><img class="type" src="./../assets/images/type_icons/Pokemon_Type_Icon_{{type.type.name}}.png" alt="{{type.type.name}}"></span>
      <table class="text-justify" style="width: 100%;">
          <tr>
            <td class="font-weight-bold">Stat</td>
            <td class="font-weight-bold">Value</td>
          </tr>
          <tr *ngFor="let stat of pokemon.stats">
            <td>{{stat.stat.name}}</td>
            <td>{{stat.base_stat}}</td>
            <td style="width: 50%;">
              <div class="progress">
                <div class="progress-bar" [class]="getProgressBarClass(stat.stat.percentage)" role="progressbar" [style]="{'width': stat.stat.percentage + '%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </td>
            <td><span class="ml-2">{{stat.stat.min_stat}}</span></td>
            <td><span class="ml-2">{{stat.stat.max_stat}}</span></td>
          </tr>
          <tr>
              <td></td>
              <td class="font-weight-bold">{{total_stat}}</td>
              <td></td>
              <td class="text-center">min</td>
              <td class="text-center">max</td>
          </tr>
      </table>
    </div>
  </div>
</div>
